/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
  /* Start of "Micro clearfix" */
  
  .cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  
  /* End of "Micro clearfix" */

  /*background-image:url("C:\Users\gwjones.000\Downloads\grid.png");*/

  main{
    width: 80vw;
    margin: 20px auto;
    border: 1px solid #372599;
  }

  header.primary{
    /*width: 1096px;*/
    width: 96.47%;
    /*margin: 20px;*/
    margin: 1.76%;
    background-color: rgba(90,91,200,.8);
    float: left;
    /*padding: 20px;*/
    padding: 1.83%;
  }

  #blog{
    /*width: 538px;*/
    width: 47.35%;
    background-color: rgba(90,91,200,.8);
    float: left;
    margin-left: 20px;
    /*padding: 20px;*/
    padding: 3.71%;
  }

  aside{
    /*width: 538px;*/
    width: 47.35%;
    background-color: rgba(90,91,200,.8);
    float: left;
    margin-left: 20px;
    /*padding: 20px;*/
    padding: 3.71%;
  }

  footer.primary{
    /*width: 1096px;*/
    width: 96.47%;
    /*margin: 20px;*/
    margin: 1.76%;
    background-color: rgba(90,91,200,.8);
    float: left;
    /*padding: 20px;*/
    padding: 1.83%;
  }

@media screen and (min-width:800px) {
  main{
    width: 1136px;
  }
}

@media screen and (min-width:600px) {
  main{
    width: 760px;
  }
}

@media screen and (min-width:400px) {
  main{
    width: 520px;
  }
}