/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
  /* Start of "Micro clearfix" */
  
  .cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  
  /* End of "Micro clearfix" */

  /*background-image:url("C:\Users\gwjones.000\Downloads\grid.png");*/

  main{
    width: 1136px;
    margin: 20px auto;
    border: 1px solid #000;
    background-image:url("C:\Users\gwjones.000\Downloads\grid.png");
  }

  header.primary{
    /*width: 1096px;*/
    width: 96.47%;
    /*margin: 20px;*/
    margin: 1.76%;
    background-color: rgba(0,0,0,.4);
    float: left;
    /*padding: 20px;*/
    padding: 1.83%;
  }

  #blog{
    /*width: 538px;*/
    width: 47.35%;
    background-color: rgba(0,0,0,.4);
    float: left;
    margin-left: 20px;
    /*padding: 20px;*/
    padding: 3.71%;
  }

  aside{
    /*width: 538px;*/
    width: 47.35%;
    background-color: rgba(0,0,0,.4);
    float: left;
    margin-left: 20px;
    /*padding: 20px;*/
    padding: 3.71%;
  }

  footer.primary{
    /*width: 1096px;*/
    width: 96.47%;
    /*margin: 20px;*/
    margin: 1.76%;
    background-color: rgba(0,0,0,.4);
    float: left;
    /*padding: 20px;*/
    padding: 1.83%;
  }